@using OnlineShoppingLibrary;
@using OnlineShoppingServices.Models.DB;
@{
    ViewData["Title"] = "products";
    var list1 = (List<Customer>)ViewData["address"];
    var list = (ProductViewModelCart[])ViewData["products"];

    decimal sum = 0;
    int sum1 = 0;
    decimal price1 = 0;
}
@foreach (var a in list1)
{
<h4 class="text-center">Congratulations @a.Name Your Order is Placed.</h4>
}
<div class="container">
    <div class="row">
        <div class="well col-xs-10 col-sm-10 col-md-6 col-xs-offset-1 col-sm-offset-1 col-md-offset-3">
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <address>
                        @foreach (var a in list1)
                        {
                            <strong class="text-center text-success">Dear @a.Name</strong>
                            <br>
                            <strong>@a.Address</strong>
                            <br>
                            <strong class="text-center text-primary">@a.Phone</strong>
                        }





                    </address>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 text-right">
                    <p id="demo"></p>
                    <p>
                        <h3 class="text-center text-danger">InVoice-No. #: @ViewData["invoiceNo"]</h3>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="text-center">
                    <h1>Receipt</h1>
                </div>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Quantity</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (var i = 0; i < list.Length; i++)
                        {
                            price1 = list[i].Price * list[i].Quantity;
                            sum += price1;
                            sum1 += list[i].Quantity;
                            <tr>
                                <td>
                                    <label>@list[i].Title</label> <input type="hidden" name="[@i].Title" value="@list[i].Title" />
                                </td>
                                <td><label>@list[i].Quantity</label></td>
                                <td>
                                    <label>@price1</label> <input type="hidden" name="[@i].Price" value="@list[i].Price" />
                                </td>
                            </tr>
                        }
                        <tr>
                            <td>   </td>
                            <td>   </td>

                        </tr>
                        <tr>
                            <td>   </td>
                            <td>   </td>
                            <td class="text-right"><h4><strong>Total-Amount: </strong></h4></td>
                            <td class="text-center text-danger"><h4><strong>@sum</strong></h4></td>
                        </tr>
                        <tr>
                            <td>   </td>
                            <td>   </td>
                            <td class="text-right"><h4><strong>Total-Quantity: </strong></h4></td>
                            <td class="text-center text-danger"><h4><strong>@sum1</strong></h4></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    var d = new Date();
    document.getElementById("demo").innerHTML = d.toDateString();
</script>