@using OnlineShoppingLibrary;

@model ProductViewModel

@{

    ViewData["Title"] = "GetProducts";

    var productList = (List<ProductViewModel>)ViewData["products"];
}


@foreach (var p in productList)
{
    <div>


        <form asp-action="AddToCart" asp-controller="Product" method="post">
            <div class="col-sm-6">
                <div class="row">

                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <input type="hidden" name="ProductId" value="@p.ProductId" />
                                <img id="Zoom" src="@p.Image" data-zoom-image="@p.Image" alt="Denim Jeans" style="width:200px;height:250px">
                                <h1>@p.Title</h1> <input type="hidden" name="Title" value="@p.Title" />
                                <h4>Rs.@p.Price</h4><input type="hidden" name="Price" value="@p.Price" />



                                @*<label>@p.CategoryId  </label>*@  <input type="hidden" name="CategoryId" value="@p.CategoryId" />
                                @*<label>@p.SubCategoryId </label>*@  <input type="hidden" name="SubCategoryId" value="@p.SubCategoryId" />


                                <input type="submit" value="Add to Cart" id="btnCart" />
                            </div>
                        </div>
                    </div>
                    <br />
                </div>
                <br>
            </div>


        </form>
    </div>




}
@section Scripts
    {
    <script>
        $('#btnCart').click(function () {

            alert("Added to cart.");
        });

    </script>
}