@using OnlineShoppingLibrary;
@{
    ViewData["Title"] = "ProcessOrder";
    var list = (List<ProductViewModelCart>)ViewData["products"];

    decimal sum = 0;
    int sum1 = 0;
    decimal price1 = 0;
}
<style>
    td {
        border: 1px solid;
    }
</style>

<h2>ProcessOrder</h2>
<form asp-action="ProcessToPay" asp-controller="Product" method="post">
    <div class="col-sm-6">

        <table class=" table table-bordered table1">

            <thead class="thead-light" style=" border:2px; border: 2px solid #ddd; border-color: black;">
                <tr style=" border-top: 2px; border: 2px solid #ddd; border-color: black;">
                    <th scope="col">ProductName</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                </tr>
            </thead>
            @for (var i = 0; i < list.Count; i++)
            {
                price1 = list[i].Price * list[i].Quantity;
                sum += price1;
                sum1 += list[i].Quantity;
                <tbody style=" border-top: 2px; border: 2px solid #ddd; border-color: black;">
                    <tr>
                        <td>
                            <label>@list[i].Title</label> <input type="hidden" name="[@i].Title" value="@list[i].Title" />
                        </td>
                        <td>
                            <label>@price1</label> <input type="hidden" name="[@i].Price" value="@list[i].Price" />
                        </td>
                        <td><label>@list[i].Quantity</label></td>
                        @*<td><button class="btn btn-success" id="btnCart">Cancle-Order</button></td>*@
                    </tr>
                </tbody>

            }
            <tfoot style=" border-top: 2px; border: 2px solid #ddd; border-color: black;">
                <tr>
                    <td>Total</td>
                    <td>@sum</td>
                    <td>@sum1</td>
                </tr>
            </tfoot>
        </table>

    </div>
    <div class="row">
        <br />
        <div class="col-md-12">
            <h2>Pay-Now</h2>
            <div class="dropdown">
                <button class="btn btn-warning dropdown-toggle" type="button" data-toggle="dropdown">
                    Payment-Method
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li class="dropdown-header">Add-Method</li>

                    <li><a asp-action="ProcessToPay" asp-controller="Product" asp-route-paymode="DC">Debit-Card</a></li>
                    <li><a asp-action="ProcessToPay" asp-controller="Product" asp-route-paymode="CC">Credit-Card</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-header">Other-Methods</li>
                    <li><a asp-action="COD" asp-controller="Product" asp-route-paymode="COD">COD</a></li>
                </ul>
            </div>
        </div>
    </div>

    @*<div>
            <input type="submit" value="Payment" />
        </div>*@
</form>

@section Scripts
    {
    <script>
        $('button').click(function (e) {
            $(e.target).closest('tbody').remove();
            e.preventDefault();
        });
    </script>
}

